.movies .movie__data{
    font-weight: 300;
    color: #ffffff;
    max-width: 280px;
    max-height: 110px;
    position: relative;
    top: 200px;
}
.movies .movie__data a{
    text-decoration: none;
    color: inherit;
}
.movies img{
    position: relative;
    max-width: 280px;
    width: 100%;
    top: -310px;
    transition: all 3s ease;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .2)
}
.movies img:hover{
    mask-image: linear-gradient(to top, transparent 10%, #ffffff 100%)
}
.movies img:hover~.movie__title{
    display: block;
    bottom: 0;
}
.movies img:hover~.movie__year{
    display: block;
}
.movies img:hover~.movie__genres{
    display: flex;
}
.movies .movie__title,.movies .movie__year{
    margin: 0;
    font-weight: 300;
}
.movies .movie__title{
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    display: none;
}
.movies .movie__genres{
    list-style: none;
    padding-left: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
    position: absolute;
    left: 40px;
    top: -5px;
    width: auto;
    display: none;
}
.movies .movie__year{
    position: absolute;
    top: 0;
    display: none;
    padding-left: 10px;
}
.movies .movie__genres li,.movies .movie__year{
    margin-right: 10px;
    width: auto;
    font-size: 14px;
}